/*          Estrutura do site           */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #FFF url(../imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

/*              Header (topo) do site              */

header {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

/*            Barra de Navegação (nav) horizontal      */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

nav ul li {
    float: left;
}

nav ul a:link, nav ul a:visited {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.25em;
    line-height: 2.1em;
    text-decoration: none;
    color: #FFF;
    background: url(../imagens/divisor.png) no-repeat left center;
}

nav ul .primeiro a {
    background: none;
}

nav ul a:hover {
    color: #69001d;
}

body.home nav a#home,
body.brasil nav a#brasil,
body.internacional nav a#internacional,
body.economia nav a#economia,
body.saude nav a#saude,
body.ciencia nav a#ciencia,
body.fotos nav a#fotos
{
    color: #FFF;
    background: #de003e;
    cursor: text;
}

/*              Configuração layout 3 colunas (INDEX)       */
#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#tres-colunas section#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas section#primario {
    width: 555px;
    float: left;
    margin: 0 0 20px 195px;
}

#uma-coluna section#primario {
    width: 750px;
    float: left;
    margin: 0 0 20px 195px;
}

section#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

aside {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

/*              CAIXAS           */

.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
}

.caixa h2 {
    font-size: 1.1em;
    background: #294c71;
    color: #FFF;
    padding: 5px;
}

.caixa-conteudo {
    background: #FFF;
    padding: 5px;
    margin-top: 5px;
}

/*                      Formatando imagens                     */

img {
    border: 2px solid #dfdfdf;
}

img.imagem-principal {
    border: 3px solid #dfdfdf;
    margin-top: 5px;
}

/*                      Formatação dos cabeçalhos           */

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #FFF;
}

.ultima-entrevista h3 {
    font-size: 0.77em;
    background: #b10333;
    color: #000;
}

/*                     Formatação da aba mundo e noticias recentes(listas)          */

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: 0.7em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: 0.65em;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

/*                      Formatação barra lateral(aside)        */

aside ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

aside ul a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    color: #a1a1a1;
    padding-left: 20px;
}

label {
    display: block;
    cursor: pointer;
}

input {
    width: 125px;
    padding: 5px;
    font-size: 0.9em;
    background-color: #fff;
}

input#enviar {
    width: 80px;
    color: #FFF;
    background-color: #b10333;
    border: 1px solid #870529;
    padding: 5px;
    margin-top: 3px;
}

/*                  Footer(Rodapé)          */

#container-rodape {
    background: #294c71;
    padding: 20px;
    clear: both;
}

footer {
    width: 750px;
    margin: 0 auto;
    color: white;
}